
#fototit{
    width: 250px; height: 70px;
    border-radius: 0.2rem;
    margin-left: 0.3rem;}

    #logo{
     display: flex;
     float: right;
    text-align: right;
    justify-content: end;
    width: 50px; height: 50px;
    margin: 1rem 88% auto; 
    border-radius: 0.9rem;}

    .card{
    margin: 0 auto;}

    .header {
     max-height: 299px;
    border-radius: 0.8rem;
     top: 0 auto; 
     box-shadow: 0.2rem 0.1rem 0.4rem black;} 

     .header img{
    cursor: pointer;}

    .header img:hover{
    box-shadow: 0rem 0.1rem 0.1rem black;}    

    .menus img{
    max-width: 300px;
    max-height: 300px;
    width: 250px; height: 70px;
    border-radius: 0.5rem;}

    .card:hover{
    box-shadow: 0.2rem 0.1rem 0.4rem black;}

    .container{

    text-align: center;
    margin: 0 auto;
    padding: 10px;}

    body{
  background-color:#f9f6f4;}

  .menus:hover{
    box-shadow: 0.3rem 0.3rem 0.4rem black;}

    .menus {
 background-color: #ffffff;
 border: 1px solid black;
 
 margin: 7px;
 cursor: pointer;}

 .foot a:visited {
    color: white}
.foot a:hover{
    color: rgba(0, 0, 0, 0.486);}

    .foot{
    position: fixed
    border-top: 1rem;
    color:  white;
    max-height: 900px;
    height: 200px ;
    background-color: rgb(234, 4, 78);
    padding-left: 2%;
    margin-top: 7rem;}
