#fototit{
    width: 250px; height: 70px;

}

header img{
    cursor: pointer;
}

#logo{
    display: flex;
    float: right;
    justify-content: end;
    width: 50px; height: 50px;
    padding-right: 2%;
    padding-top: 0.7rem;
    margin: 0 auto;
    
}

.header {
    max-height: 600px;
    box-shadow: 0.21rem 0.1rem 0.1rem black;
    background-color: white;
    position: sticky;
    top: 0;


}
.header img:hover{
    box-shadow: 0rem 0.1rem 0.1rem black;
    
}

.menus img{
    max-width: 300px;
    max-height: 300px;
    width: 250px; height: 70px;
    border-radius: 0.5rem;
}
.container{
    display: grid;
    grid-template-columns: auto  ;
    grid-row: auto;
    text-align: center;
    width:  30%;
    height: 30%;
    margin: 0 auto;
    padding: 10px;
   


}

body h1{
    text-align: center;
}
body{
    background-color: #9b9b9b;
}

.menus:hover{
    box-shadow: 0.3rem 0.3rem 0.4rem black;
}


.menus {
 background-color: #ffffff;
 border: 1px solid black;
 
 margin: 7px;
 cursor: pointer;
 
}

.foot{
    border-top: 1rem;
    color:  white;
    max-height: 900px;
    height: 200px ;
    background-color: rgb(0, 0, 0);
    padding-left: 2%;
    margin-top: 10rem;
}



